

/*-----------navigation------
#nav-bar nav{
    background-color: #2554C7;
    color: white;
    font-size: 40px;
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    
}

.navbar-brand img
{
    height: 50px;
    width: 50px;
    padding-left: 10px;
}

.navbar-nav li
{
    padding: 0 10px;
    color: white;
}

.navbar-nav li a
{
    float: right;
    text-align: left;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
}

#nav-bar ul li a:hover
{
    color:#ffffff!important;
    font-size: 23px;
    ext-transform: lowercase;
}

.navbar
{
    background: #fff;
}

.navbar-toggler
{
    border: none! important;
}

.nav-link
{
    color: #555! important;
    font-weight: 600;
    font-size: 16px;
}


*/


*{
    margin: 0;
     padding: 0;
 }
 
   header{
     position: sticky;
     top: 0;
     z-index: 10;
   }
 
 
   .navbar {
       background-color: #35424A;
       position: sticky;
     top: 0;
     z-index: 10;
     margin-bottom: 1px;
     
   }
   
   .navbar .nav-link {
       color: #FFF;
       font-size: 14px; 
       text-transform: uppercase;
   }
 
   
   .navbar .nav-item {
       margin: auto 0rem;
       order-bottom: groove;
       order-bottom-color :#E8491D;
   }
   .active {
       olor: #007bff !important;
       ont-weight: bold;
   }
   
   .navbar .navbar-brand {
       color: #FFF;
       font-weight: 700;
       font-size: 20px;
   }
   
   .navbar .navbar-brand span {
       color: #007bff;
       font-size: 30px;
       font-weight: bold;
   
   }
   
   .nav-link:hover {
       background-color: #35424A;
       color: #007bff;
       font-weight: bold;
       font-size: 19px;
   }
 
   .dropdown-menu .dropdown-item:hover{
     background-color: #007bff;
     font-weight: bold;
     font-size: 19px;
   }
   
   
   .dropdown-menu {
       ackground-color: transparent;
       order :groove;
       background-color: #35424A;
       margin-left:0px;
       color: white;
       font-size: 16px;
   }
   
  .dropdown-menu .dropdown-item{
       color: white;
       background-color: #35424A;
       border-bottom: groove;
       border-width: thin;
   }
   
   

 
   /*  End Menu  */
 
   /*---------Slider---------*/
 
 #slider
 {
     width: 100%;
 }
 
 .carousel-caption
 {
     top: 70%;
     transform: translateY(-50%);
     bottom: initial ! important;
 }
 
 #slider .carousel-caption h5
 {
     color: #007bff;
     ackground-color: #fff;
     font-size: 72px;
     font-weight: bold;
 }
 
 /*------End Slider-----*/
 
 /*------About-----*/
 
 #about
 {
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 50px;
     padding-right: 50px;
     olor:#555;
 }
 #about h2
 {
   color:#000000;
   font-size: 45px;
   font-weight: bold;
 }
 
 #about p
 {
   color: #555;
   font-size: 18px;
   adding-left: 20px;
 }
 
 #about .btn
 {
     padding-top: 10px;
     padding-bottom: 10px;
     float: left;
 }
 
 .about .about-content
 {
     padding-top: 60px;
     color: red;
 }
 
 .skills-bar
 {
     margin-bottom: 6px;
     font-weight: 600;
 }
 
 .progress-bar
 {
     border-radius: 1px;
 }
 
 .progress
 {
     border-radius: 0px;
     margin-bottom: 20px;
 }

 #more {display: none;}
 
 /*-------End About---------*/
 
 /*-------Service---------*/
 
 
 #services
 {
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/laptpro.jpg);
     background-size: cover;
     background-position: center;
     color: #efefef !important;
     background-attachment: fixed;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 #services  h1
 {
     text-align: center;
     color: #efefef !important;
     padding-bottom: 10px;
     font-size: 35px;
 }
 
 #services h1:after
 {
     content: '';
     background: #efefef;
     display: block;
     height: 10px;
     widows: 170px;
     margin: 20px auto 5px;
     font-size: 12px;
 }
 
 .services
 {
     margin-top: 25px;
 }
 
 .icont
 {
     font-size: 40px;
     margin: 20px auto;
     padding: 20px;
     height: 80px;
     width: 80px;
     border: 1px solid #fff;
     border-radius: 50%;
 }
 
 #services p
 {
     font-size: 20px;
     margin-top: 20px;
     color: #ccc;
 }
 
 .box:hover{
     background: #007bff;
     cursor: pointer;
     transition: 0.7s;
 }
 
 /*------------End Service-----------*/
 
 /* -------- Team--------*/
 
 #team
 {
     padding-top: 50px;
     padding-bottom: 50px;
     color: #555;
 }
 
 h1
 {
     text-align: center;
     color: #555;
     font-size: 40px;
     font-weight: bold;
     padding-bottom: 10px;
 }
 
 h1::after
 {
     content: '';
     background: #007bff;
     display: block;
     height: 3px;
     width: 170px;
     margin: 20px auto 5px;
 }
 
 .profile-pic
 {
     margin-top: 25px;
     width: 5%;
 }
 
 .profile-pic .img-box
 {
     opacity: 1;
     display: block;
     position: relative;
 }
 
 .profile-pic .img-box img
 {
 filter: grayscale(1);
 order: 1px solid #fff;
 border: 1px solid rgb(7, 7, 250);
 border-radius: 50%;
 }
 
 .profile-pic .img-box img:hover
 {
 filter: grayscale(0);
 cursor: pointer;
 }
 
 .profile-pic h2
 {
     font-size: 22px;
     font-weight: bold;
     margin-top: 15px;
     color: #007bff !important;
 }
 
 .profile-pic h3
 {
     font-size: 15px;
     font-weight: bold;
     margin-top: 15px;
 }
 
 #team .fa
 {
     height: 25px;
     width: 25px;
     color: #007bff !important;
     background: #fff;
     padding: 4px;
     border-radius:50%;
 }
 
 .img-box ul
 {
     padding: 15px 0;
     position: absolute;
     z-index: 2;
     bottom: 0;
     left: 50%;
     transform:  translateX(-50%);
     opacity: 0;
 }
 
 .img-box ul li
 {
    padding: 5px;
    display: inline-block; 
 }
 
 .img-box:hover ul{
     opacity: 1;
 }
 
 .img-box ul, .img-box ul li{
     transition: 0.5s;
 }
 
  /* ---------End Team--------*/
 
 /* ---------Promo--------*/
 
  #promo
  {
      background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(img/propro.jpg);
      background-size: cover;
      background-position:center;
      color:#fff;
      background-attachment: fixed;
      text-align: center;
      padding: 100px;
      font-family: sans-serif;
      font-size: 36px;
  }
 
  /*-----price plan-------*/
 
 /*  Prices */ 
 
  #prise
  {
      padding: 40px 0;
      background: #efefef;                   
  }
 
  .single-price
  {
      margin: 10px auto;
      display: inline;
      float: left;
      width: 100%;
      background-color: #35424A;
      transition: 0.5s;
  }
 
  .single-price:hover
  {
     box-shadow: 0 2px 20px #333;
  }
 
  .price-head
  {
      background-color: hsl(216, 100%, 50%);
      display: inline;
      float: left;
      padding: 10px 5px;
      text-align: center;
      width: 100%;
  }
 
  .price-head h2
  {
     color:  #fff;
     font-size: 30px;
     font-weight: bold;
     margin-bottom: 5px;
     padding: 5px;
     text-transform: uppercase;
  }
 
  .price-head p
  {
     font-size: 25px;
     color:#ccc;
     font-weight: bold;
     margin-bottom: 5px;
     padding: 5px;
     text-transform: uppercase;
     line-height: 30px;
  }
 
  .price-content
  {
      display: inline;
      float: left;
      width: 100%;
      padding: 0 15px;
  }
 
  .price-content ul li
  {
     border-bottom: 1px solid#efefef;
     padding: 15px 10px;
     list-style: none;
     color: white;
  }
 
  ul li:last-child
  {
     border: none;
  }
 
  .fa-check-circle
  {
     color: green;
     margin-right: 10px;
     font-size: 20px;
  }
 
  .fa-times-circle
  {
     color: red;
     margin-right: 10px;
     font-size: 20px;
  }
 
  .price-button
  {
     display: inline;
     float: left;
     padding: 15px 15px 30px;
     text-align: center;
     width: 100%;
  }
 
 .buy-btn
 {
     background-color: hsl(216, 100%, 50%);
     border-radius: 3px;
     display: inline-block;
     font-size: 18px;
     padding: 15px 50px;
     transition: 0.5s;
 }
 
 .buy-btn:hover
 {
     border-color: 1px solid #fff;
     background-color: #3f51b5;
 }
 
 a
 {
     text-decoration: none !important;
     color: #fff !important;
 }
 
 
 /*-------Seles---------*/
 
 #seles
 {
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/promo.jpg);
     background-size: cover;
     background-position: center;
     color: #efefef !important;
     background-attachment: fixed;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 #seles  h1
 {
     text-align: center;
     color: #efefef !important;
     padding-bottom: 10px;
     font-size: 50px;
 }
 
 #seles h1:after
 {
     content: '';
     background: #efefef;
     display: block;
     height: 3px;
     widows: 170px;
     margin: 20px auto 5px;
     font-size: 25px;
 }
 
 .seles
 {
     margin-top: 25px;
 }
 
 .icon
 {
     font-size: 0px;
     margin: 10px auto;
     padding: 10px;
     eight: 300px;
     idth: 100%;
     border: 1px solid #fff;
     border-radius: 0%;
 }
 
 #seles p
 {
     font-size: 14px;
     margin-top: 20px;
     color: #ccc;
     font-size: 20px;
 }
 
 .seles .col-md-3:hover{
     background: #007bff;
     cursor: pointer;
     transition: 0.7s;
 }
 
 /*---------Slider1---------*/
 
 #slider1
 {
     width: 100%;
 }
 
 #slider1 .carousel-caption
 {
     top: 7%;
     transform: translateY(-50%);
     bottom: initial ! important;
 }
 
 .carousel-caption h5
 {
     color: #111;
     font-size: 30px;
     font-weight: bold;
 }
 
 
 /*----End Sales---*/
 
 /*----Testmonial---*/
 
 #testmonials
 {
 padding-top: 50px;
 padding-bottom:50px;
 }
 
 #testmonials .row
 {
     margin-top: 30px;
 }
 
 .col-md-4
 {
    margin: 40px auto; 
 }
 
 .profile
 {
     padding: 70px 10px 10px;
     ackground-color: #efefef;
     background-color: #b2d6f1;
 }

 .profile p{
     font-size: 25px;
     padding-left: 80px;
     padding-right: 80px;
 }
 #testmonials h3{
     font-size: 22px;
 }

 #testmonials .profile span{
    font-size: 18px;
}
 
 .user
 {
     width: 180px;
     height: 180px;
     border: 1px solid rgb(7, 7, 250);
     border-radius: 50%;
     padding: 10px;
 }
 
 .profile img
 {
     top: -75px;
     position: absolute;
     left: calc(47% - 50px);
     border: 10px solid #fff;
 }
 
 .profile h3
 {
     font-size: 20px;
     margin-top: 15px;
     color: #007bff;
 }
 
 #testmonials span
 {
     font-size: 15px;
     color: #333;
 }
 
 blockquote
 {
     font-size: 16px;
     line-height: 30px;
 }
 
 blockquote::before
 {
     content: '\93';
     font-size: 50px;
     color: #007bff;
     position: relative;
     line-height: 20px;
     bottom: -15px;
     right: 5px;
 }
 
 blockquote::after
 {
     content: '\94';
     font-size: 50px;
     color: #007bff;
     position: relative;
     line-height: 20px;
     bottom: -15px;
     left: 5px;
 }
 
 .profile:hover
 {
     box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
     cursor: pointer;
     transition: 0.5s;
 }
 
 /*  End Testimonial*/
 
 /*---grt in touch----*/
 
 #contact
 {
     
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/promo.jpg);
     padding-top: 40px;
     padding-bottom: 40px;
     color: #777;
 }

 #contact h1{
     color: white;
     font-weight: bold;
     font-size: 40px;
 }
 
 .contact-form
 {
     padding: 10px;
     background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/promo.jpg);
 }
 
 .form-control
 {
    border-radius: 0 !important;
    border: none !important;
    margin: 10px 0px 10px 0px;
    padding: 10px;
 }

 
 ::placeholder
 {
     color: #999 !important;

 }
 
 
 
 
 #contact .follow
 {
     color: #000;
     background-color: #b2d6f1;
     padding: 5px;
     margin: 10px;
     font-size: 16px;
 }

 
 .contact-info .fa{
     margin: 10px;
     color: blue;
     font-weight: bold;
     font-size: 30px;
 }
 
 
 /*---footer---*/
 
 #footer
 {
     background: #333;
     color: #fff;
     padding: 12px;
 }
 
 .fa-copyright
 {
     margin: 3px;
     color: white;
     font-size: 40px;
 }
 
 
 
 
 
 
 
 
 
   
   @media (max-width: 1025px) {
   
       .navbar .nav-item{
           border-bottom: groove;
           border-width: thin;
           order-bottom:  px solid rgb(255, 255, 255);
       }
 
       .navbar .navbar-brand {
       color: #FFF;
       font-weight: 700;
       font-size: 40px;
   }
 
   .navbar .navbar-brand span {
       color: #007bff;
       font-size: 60px;
       font-weight: bold;
   
   }
 
   .navbar .nav-link {
       color: #FFF;
       font-size: 25px; 
       text-transform: uppercase;
   }
 
   .dropdown-menu {
       ackground-color: transparent;
       order :groove;
       background-color: #35424A;
       margin-left:0px;
       color: white;
       font-size: 22px;
   }

   .f{
       
    color: white;
}
   
   .navbar-toggler-icon {
    font-size: 50px;
    padding: 1px;
    border: none! important;
    margin-top: 25px;
}


/*---------Slider---------*/
 
#slider
{
    width: 100%;
}

.carousel-caption
{
    top: 70%;
    transform: translateY(-50%);
    bottom: initial ! important;
}

#slider .carousel-caption h5
{
    color: #007bff;
    ackground-color: #fff;
    font-size: 72px;
    font-weight: bold;
}

/*------End Slider-----*/
 
 
   #about h2
 {
   color:#000000;
   font-size: 55px;
 }

 #about h4
 {
     font-size: 35;
 }
 #about p
 {
   color: #555;
   font-size: 30px;
   text-align: justify;
 }
 
 /*  Service  */
 
 
 #services  h1
 {
     text-align: center;
     color: #efefef !important;
     padding-bottom: 10px;
     font-size: 40px;
 }
 
 #services h1:after
 {
     content: '';
     background: #efefef;
     display: block;
     height: 10px;
     widows: 170px;
     margin: 20px auto 5px;
     font-size: 25px;
 }
 
 #service .box h3{
   font-size: 60;
 }
 
 
 
 .icont
 {
     font-size: 50px;
     margin: 30px auto;
     padding: 20px;
     height: 100px;
     width: 100px;
     border: 1px solid #fff;
     border-radius: 50%;
 }
 
 #services p
 {
     font-size: 35px;
     margin-top: 20px;
     color: #ccc;
 }
 
 
 /*  Team  */
 
 h1
 {
     text-align: center;
     color: #555;
     font-size: 55px;
     padding-bottom: 10px;
 }
 
 .profile-pic h2
 {
     font-size: 35px;
     font-weight: bold;
     margin-top: 15px;
     color: #007bff !important;
 }
 
 .profile-pic h3
 {
     font-size: 30px;
     font-weight: bold;
     margin-top: 17px;
 }

 .profile-pic p{
     font-size: 25px;
 }
 
 /* ---------Promo--------*/
 
  #promo
  {
      font-size: 40px;
  }

  #promo .btn{
      padding-top: 18px;
      padding-bottom: 18px;
      font-size: 50px;
      border-radius: 30px;
  }

/*  Price  */

.price-content ul li{
    font-size: 30px;
}

.buy-btn{
    font-size: 40px;
}

  .level h1
  {
     color:  #000;
     font-size: 45px;
     font-weight: bold;
     margin-bottom: 5px;
     padding: 5px;
     text-transform: uppercase;
  }
 
  .level p
  {
     font-size: 40px;
     color: #777;
     font-weight: bold;
     margin-bottom: 5px;
     padding: 5px;
     ext-transform: uppercase;
     line-height: 30px;
  }

 
    /*-----End Price-------*/

  /*-----sales-------*/
#seles h1
 {
     text-align: center;
     color: #efefef !important;
     padding-bottom: 10px;
     font-size: 70px;
     font-weight: bold;
 }
 
 #seles h1:after
 {
     content: '';
     background: #efefef;
     display: block;
     height: 8px;
     widows: 170px;
     margin: 20px auto 5px;
     font-size: 30px;
 }

 #seles h2
 {
     text-align: center;
     color: #efefef !important;
     padding-bottom: 10px;
     font-size: 50px;
     font-weight: bold;
 }

 #seles p
{
    color: #fff;
    font-size: 40px;
}
 
 
/*---------Slider1---------*/
 
#slider1
{
    width: 100%;
}

#slider1 .carousel-caption
{
    bottom: 60%;
    transform: translateY(-50%);
    bottom: initial ! important;
}

#slider1 .carousel-caption h5
{
    color: #111;
    font-size: 50px;
    font-weight: bold;
}



/*----End Sales---*/

 /*End Sales*/
 
 #testmonials h1{
   font-size: 60px;
   font-weight: bold;
 }
 
 .profile h3
 {
     font-size: 30px;
 }
 
 .profile p{
   font-size: 22px;
 }
 #testmonials span{
   font-size: 25px;
 }



 .profile p{
    font-size: 35px;
}
#testmonials h3{
    font-size: 32px;
}

#testmonials .profile span{
   font-size: 28px;
}


 /*Contact Us*/

 .follow
 {
     background: #fff;
     padding: 10px;
     margin: 5px;
     font-size: 30px;
 }

 form .btn{
     font-size: 50px;
 }
    
 #footer p{
     font-size: 23px;
     padding: 10px 0px 10px 0px;
 }
 .fa-copyright
 {
     margin: 3px;
     color: white;
     font-size: 25px;
 }

 #contact .follow{
     font-size: 43px;
 }

 .contact-info .fa{
    margin: 10px;
    color: blue;
    font-weight: bold;
    font-size: 40px;
}

 ::placeholder
 {
     color: #999 !important;
     font-size: 35px;
 }

 .form-control .btn{
    font-size: 40px;
}
   } 
 
 